$color-gray-dark: rgb(218, 201, 201);
$color-primary:red;
$color-primary-1: #881d46b6;

$color-primary-light: #a07990c4;
$color-primary-medium: #c0527cdf;
$color-gray: #f1e9e9;
$color-black: rgb(24, 20, 20);
